<p id="notice"><%= notice %></p>
<div id="task-main">
 
<div id="task-index-table">
<table>
  <thead>
    <tr>
      <th colspan="4"><h1>Task List</h1></th>
    </tr>
  </thead>

<tbody>
  <% @tasks.each do |task| %>
    <tr>
      <% if task.user == current_user %>
        <td> <%= task.taskname %> </td>
        <td> <button class="button"><%= link_to 'Show details', category_task_path(@categories,task.id ) %></button></td>
      <%end%>
    </tr>
  <%end%>
</tbody>
</table>
</div>
<td> <button class="button" style="margin-top:50px;"> <%= link_to 'Back to Category', category_path(@categories) %></button></td>
</div>


