<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <% if task.user == current_user %>
        <td> <%= task.taskname %> </td>
        <td> <%= task.taskbody %> </td>
        <td> <%= task.tasktime %>  </td>
      <%end%>
        </tr>
        <%end%>
      
   
  </tbody>
</table>

<br>


