// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#index-table{
    box-shadow: 0 0 5px black;
    padding: 20px;
    margin-top: 20px;
} 
.button a{
    text-decoration: none;
    background-color: white;
    color: black;
}
.button{
    margin-left: 10px;
}
#category-index{
    display: flex;
    justify-content: center;
}
#h1-index{
    display: flex;
    justify-content: center;
    padding-right: 40px;
    margin-top: 40px;
}
#add-category{
    margin-left: 40px;
   color: green;
}
#devise-main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 0 5px lightgreen;
    padding: 30px;
    font-size: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    text-shadow: 0 0 8px black;
}
#signin-page{
    display:flex;
    justify-content: center;
    
   
}
#t{
padding: 20px;
margin-top: 40px;
box-shadow: 0 0 5px gray;
}
#category-show{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px black;
    width:400px;
  
    margin-top: 40px;
    padding: 20px;
}
#showcss{
    display: flex;
    justify-content: center;
}
#category-showlinks{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
}
#create-category{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 5px;
    width: 300px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(123,43,1);
}
#sign-up{
    display:flex;
    justify-content: center;
}
#box{
    box-shadow: 0 0 5px;
    width:250px;
    padding:30px;
    margin-top: 50px;;
}

